<div class="page-header">
  <h1>Posts</h1>
</div>

<div ng-repeat="pos in posts | orderBy:'id'"><!--post ya está ocupado en el controlador-->
	<!--<ul ng-if="pos.published"> show only if published is true -->
	<ul>
		<li>{{pos.title}}</li>
		<li>{{pos.body}}</li>
		<li><a href="#/posts/{{pos.id}}">Enlace</a></li>
		<li><a href="#" ng-click="removePost(pos)">Eliminar</a></li>
	</ul>
</div>
<p><a href="#/posts/new-post">Nuevo post</a></p>
<div ng-if="user">
	<h1>HOLA</h1>
</div>