<!-- postsCtrl -->
<header class="page-header">
	<div class="row">
		<div class="col-md-4">
			<h1>angular-rails-Blog.try?</h1>
  		<h2 ng-if="errorMsg">{{errorMsg}}</h2>
		</div>
		<div class="col-md-8">
			<h3><i>I should be a claim!</i></h3>
		</div>
	</div>
  
</header>


<div class="row">
	<div class="col-md-9">
		<div class="col-md-10">



			<section class="post-resume" ng-repeat="pos in posts | filter:search | orderBy:'-id' | startFromGrid: currentPage * pageSize | limitTo: pageSize">
			<!--post ya está ocupado en el controlador-->
				<!--<ul ng-if="pos.published"> show only if published is true -->
				<header><h3>{{pos.title}}</h3></header>
				<time>{{pos.created_at | date: 'fullDate'}}</time>
				<article>
					
					<div ng-bind-html="resume(renderText(pos.body))"></div>

					<marked>
					</marked> <br>
					<a href="#!/{{pos.slug}}">Continuar leyendo</a>
				</article>
				<footer>
					<a ng-if="signedIn()" href="#!/posts/edit-post/{{pos.slug}}">Editar</a> 
					<span ng-if="signedIn()">|</span>
					<a ng-if="signedIn()" href="#" ng-click="removePost(pos)">Eliminar</a>
				</footer>
			</section>

			<nav>
			  <ul class="pagination">
			    <li ng-class="{'disabled': currentPage == 0}">
			      <a href="" aria-label="Previous" ng-click='goBack()'> 
			        <span aria-hidden="true">&laquo;</span>
			      </a>
			    </li>

			    <li ng-repeat='page in pages' ng-click='setPage(page.no)' ng-class="{'active': currentPage == page.no - 1}">
			    	<a href="#">{{page.no}}</a>
			    </li>

			    <li ng-class="{'disabled': currentPage >= posts.length/pageSize - 1}">
			      <a href="#" aria-label="Next" ng-click='goForward()'>
			        <span aria-hidden="true">&raquo;</span>
			      </a>
			    </li>
			  </ul>
			</nav>


		</div>
			<br/>
			<br/>
		<div class="col-md-10">
			<p ng-if="signedIn()"><a href="#!/posts/new-post" class="btn btn-primary">Nuevo post</a></p>
		</div>
	</div>
	<div class="col-md-3">
		<aside>
			<div>
				<label for="">Filtrar</label>
				<input type="text" ng-model="search">
			</div>
			<div>
				<strong>Últimos 5 posts</strong>
				<div ng-repeat="pos in posts | orderBy: '-id' | limitTo:5 ">
					<p><a href="#!/{{pos.slug}}">{{pos.title}}</a></p>
				</div>
			</div>	
		</aside>
	</div>
</div><!-- row principal -->
