<!DOCTYPE html>
<html ng-app="arBlog">
<head>
  <meta name="fragment" content="!">
  <title ng-bind="title || 'AR-Blog'">Default</title>
  <meta name="description" content="{{description || 'Descipción genérica'}}"/>
  <meta ng-if="twitterMetas" ng-repeat="(key, value) in twitterMetas" name="{{key}}" content="{{value}}"/>
  <meta ng-if="ogMetas" ng-repeat="(key, value) in ogMetas" name="{{key}}" content="{{value}}"/>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <base href="/">
</head>
<body>
  <!--<div class="container container-fluid">-->
  <ng-include src="'nav/_nav.html'"></ng-include>
  <div class="container">
    <ui-view></ui-view>
    <hr>
    <footer>
      Footer de la webada...
    </footer>
  </div>
  <!--</div>-->
</body>
</html>