<!DOCTYPE html>
<html ng-app="arBlog">
<head>
  <meta name="fragment" content="!">
  <title ng-bind="title || 'AR-Blog'">Default</title>
  <meta name="description" content="{{description || 'Descipción genérica'}}"/>
  <meta ng-if="twitterMetas" ng-repeat="(key, value) in twitterMetas" name="{{key}}" content="{{value}}"/>
  <meta ng-if="ogMetas" ng-repeat="(key, value) in ogMetas" name="{{key}}" content="{{value}}"/>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <base href="/">
</head>
<body>
	<div ng-include="'nav/_nav.html'"></div>
	<ui-view></ui-view>
</body>
</html>